<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93565773157-higsouqskt9oiveh7sahv6o3mqlqq0uo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93565773157-higsouqskt9oiveh7sahv6o3mqlqq0uo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>93565773157-9eo7sqhajd347u2j7iufg82g2ia9ehvl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDuvGEB5xMAaeE5TevQ5kQE0mGcX4D_GWo</string>
	<key>GCM_SENDER_ID</key>
	<string>93565773157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crystalstudio.crystalunbolt.solve</string>
	<key>PROJECT_ID</key>
	<string>crystalunbolt-sovel</string>
	<key>STORAGE_BUCKET</key>
	<string>crystalunbolt-sovel.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93565773157:ios:2a8fcc59165f6b9e5aed8c</string>
	<key>DATABASE_URL</key>
	<string>https://crystalunbolt-sovel-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>